.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}
/*
#TitleLab{
    -fx-font-size        :  20pt;
    -fx-background-color :  #1d1d1d; 
    -fx-padding          :  10px 20px 10px 20px; 
    -fx-background-radius:  50;
}
*/
/**/
.label {
    -fx-padding      : 5 22 5 22;   
    -fx-border-color : #e2e2e2;
    -fx-border-width : 2;
    -fx-background-radius: 0;
    -fx-background-color : #1d1d1d;
    -fx-font-family      : "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size        : 11pt;
    -fx-text-fill        : #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.label:hover {
    -fx-background-color: #3a3a3a;
}

.label:pressed, .label:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

#LabelCheked {
    -fx-background-color   : rgb(128,128,255);
}
#ButtonChecked{
    -fx-background-color   : rgb(151,203,255); 
    -fx-text-fill          : gray;
}
.chart {
    -fx-font-size         : 15pt;
    -fx-font-family       : "Georgia";
    -fx-text-fill         : black;
  //  -fx-background-color  : #1d1d1d;
}
.chart .label {
    -fx-text-fill         : black;
    -fx-background-color  : white; 
}

#Diabet .data0.chart-bar {
    -fx-background-color : goldenrod;
}

#StatLabel{
     -fx-font-size   : 32pt;
    -fx-font-family  : "Segoe UI Light";
    -fx-text-fill    : white;
    -fx-opacity      : 1;  
}

#DecesBar .data0.chart-bar {
    -fx-background-color : greenYellow;
}


#Originechart {
    -fx-font-size         : 10pt;
    -fx-font-family       : "Georgia";
    -fx-text-fill         : black;
  //  -fx-background-color  : #1d1d1d;
}

#LabelStat {
    -fx-font-size         : 10pt;
    -fx-font-family       : "Georgia";
    -fx-text-fill         : black; 
    -fx-background-color  : white; 
    
}
#LabelStatCaption{
   -fx-font-size         : 10pt;
    -fx-font-family       : "Georgia";
    -fx-text-fill         : black; 
    -fx-background-color  : rgb(205,205,205);  
}